<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Too Small in the Mall</title>

        <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" href="favicon.ico" />

        <link rel="stylesheet" href="css/style.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>

    <body>
        <div ng-controller="TooSmallCtrl" ng-cloak="" ng-app="tooSmall" layout="column" layout-fill scroll-glue>

            <md-toolbar hide-xs>
                <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <span class="md-display-1"><h2>Too Small in the Mall</h2></span>
                </div>
            </md-toolbar>
            <md-toolbar>
                <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <span ng-bind="currentRoomName">--</span>
                    <span layout="row" hide-xs>
                        <span>Obvious Exits:</span>
                        &nbsp;
                        <span ng-bind="obviousExits">--</span>
                    </span>
                </div>
            </md-toolbar>

            <md-content flex layout-padding scroll-glue>

                <div>
                    <h3 >Too Small in the Mall</h3>
                    <p>
                        You no doubt have already assumed that the title has a lot to do with
                        the game.  Well you're right.  It does have a lot to do with the
                        game.  Does the fact that you were right make you feel like you've
                        fulfilled your part of Life, the Universe and Everything?  You
                        haven't.
                    </p>
                    <p>
                        You have been kidnapped by Evil Scientist Rex.  (Sounds like a really
                        nice guy, huh?)  He has shrunken you down to a height of twelve
                        inches.  (Well, that makes sense.  It's the kind of thing I enjoy
                        spending my weekends doing.) As you will soon discover, this has
                        changed your view of things drastically.
                        The local police stormed Rex's lab this morning and arrested him, but
                        they failed to notice you in your cage way up on top of Rex's
                        bookcase.  You are extremely lucky in the fact that your cage door
                        just happens to be open. (I know it sounds a little fishy, but it's
                        only a game.  Forget it.)
                    </p>
                    <p>
                        When you escape from Rex's lab, you will find yourself in a shopping
                        mall after hours.  Have fun escaping and beware of large cats.
                    </p>

                </div>

                <md-list>
                    <md-list-item ng-repeat="item in messageStream">
                        <div ng-if="!item.user" layout="row" layout-align="start center" layout-fill>
                            <div><i class="material-icons">{{item.icon}}</i></div>
                            <div layout="column" layout-align="start center" flex>
                                <md-list layout-fill>
                                    <md-list-item ng-repeat="message in item.messages">
                                        <div>{{message}}</div>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
                        <div ng-if="item.user" layout="row" layout-align="end center" layout-fill>
                            <div layout="column" layout-align="end center">
                                <md-list layout-fill>
                                    <md-list-item ng-repeat="message in item.messages">
                                        <div layout-fill>{{message}}</div>
                                    </md-list-item>
                                </md-list>
                            </div>
                            <div><i class="material-icons">{{item.icon}}</i></div>
                        </div>
                        <md-divider/>
                    </md-list-item>
                </md-list>

            </md-content>

            <md-content ng-hide="gameOver">
                <form ng-submit="submit()">
                    <md-input-container class="md-block">
                        <label>Enter a Command</label>
                        <input ng-model="command" autofocus autocomplete="off">
                    </md-input-container>
                </form>
            </md-content>

            <md-content ng-show="gameOver">
                <form ng-submit="restart()">
                    <md-input-container class="md-block">
                        <md-button class="md-raised md-primary" type="submit" aria-label="Start Over">Start Over</md-button>
                    </md-input-container>
                </form>
            </md-content>



        </div>

        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
        <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js'></script>
        <script src="node_modules/angularjs-scroll-glue/src/scrollglue.js"></script>

        <script src="js/toosmall.js"></script>
        <script src="js/toosmall-controller.js"></script>
        <script src="js/toosmall-config.js"></script>
        <script src="js/toosmall-gamedata.js"></script>
        <script src="js/toosmall-engine.js"></script>


    </body>
</html>